<div class="row text-center">
  <div class="col-3">
    <img src="assets/img/article1-istock.jpg" id="avatar" alt="biquet" (click)="changerAvatar('assets/img/article1-istock.jpg') ">
  </div>
  <div class="col-3">
    <img src="assets/img/chevre2.jpg" id="avatar" alt="biquet" (click)="changerAvatar('assets/img/chevre2.jpg') ">
  </div>
  <div class="col-3" >
    <img src="assets/img/chevre3.jpg" id="avatar" alt="biquet" (click)="changerAvatar('assets/img/chevre3.jpg')">
  </div>
  <div class="col-3">
    <img src="assets/img/article1-istock.jpg" id="avatar" alt="biquet" (click)="changerAvatar('assets/img/article1-istock.jpg')">
  </div>
  <div class="col-3">
    <img src="assets/img/article1-istock.jpg" id="avatar" alt="biquet" (click)="changerAvatar('assets/img/article1-istock.jpg')">
  </div>
  <div class="col-3">
    <img src="assets/img/article1-istock.jpg" id="avatar" alt="biquet" (click)="changerAvatar('assets/img/article1-istock.jpg')" >
  </div>
  <div class="col-3">
    <img src="assets/img/article1-istock.jpg" id="avatar" alt="biquet"(click)="changerAvatar('assets/img/article1-istock.jpg')" >
  </div>
  <div class="col-3">
    <img src="assets/img/article1-istock.jpg" id="avatar" alt="biquet"(click)="changerAvatar('assets/img/article1-istock.jpg')">
  </div>
</div>
