<div class="row text-center">
  <div class="col-4">
    <img
      src="assets/img/avatar1.png"
      id="avatar"
      alt="biquet"
      (click)="changerAvatar('assets/img/avatar1.png')"
    />
  </div>
  <div class="col-4">
    <img
      src="assets/img/avatar2.png"
      id="avatar"
      alt="biquet"
      (click)="changerAvatar('assets/img/avatar2.png')"
    />
  </div>
  <div class="col-4">
    <img
      src="assets/img/avatar3.png"
      id="avatar"
      alt="biquet"
      (click)="changerAvatar('assets/img/avatar3.png')"
    />
  </div>
  <div class="col-4">
    <img
      src="assets/img/avatar4.png"
      id="avatar"
      alt="biquet"
      (click)="changerAvatar('assets/img/avatar4.png')"
    />
  </div>
  <div class="col-4">
    <img
      src="assets/img/avatar5.png"
      id="avatar"
      alt="biquet"
      (click)="changerAvatar('assets/img/avatar5.png')"
    />
  </div>
  <div class="col-4">
    <img
      src="assets/img/avatar6.png"
      id="avatar"
      alt="biquet"
      (click)="changerAvatar('assets/img/avatar6.png')"
    />
  </div>
  <div class="col-4">
    <img
      src="assets/img/avatar7.png"
      id="avatar"
      alt="biquet"
      (click)="changerAvatar('assets/img/avatar7.png')"
    />
  </div>
  <div class="col-4">
    <img
      src="assets/img/avatar8.png"
      id="avatar"
      alt="biquet"
      (click)="changerAvatar('assets/img/avatar8.png')"
    />
  </div>
  <div class="col-4">
    <img
      src="assets/img/avatar9.png"
      id="avatar"
      alt="biquet"
      (click)="changerAvatar('assets/img/avatar9.png')"
    />
  </div>
</div>
