
body{
  min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

#footer{
  padding: 10px 0px 10px 0px;
  background-color: rgba(38, 54, 75, 0.733);
  color: white;
}

#principal-container{
  margin-top: 115px;
}



