<h2 class="text-center">Créer une question</h2>
<hr />

<form (ngSubmit)="submit()" [formGroup]="form" class="mt-5">
  <div class="form-group my-5">
    <label for="theme"><b>Theme:</b>
    <select class="form-select" id="theme" formControlName="theme">
      <option *ngFor="let t of themes" [ngValue]="t" selected>
        {{ t.nom }}
      </option>
    </select>
  </label>
  </div>
  <div class="form-group">
    <label for="enonceQuestion"><b>Enoncé:</b></label>
    <textarea rows="3" id="enonceQuestion" class="form-control" formControlName="enonceQuestion"></textarea>
  </div>
  <div class="form-group my-4">
    <label for="reponseA"><b>Réponse A:</b></label>
    <input id="reponseA" class="form-control" formControlName="reponseA" />
    <label for="bonneReponseA">Bonne réponse</label>
    <input class="ms-1" id="bonneReponseA" type="radio" name="bonneReponse" [value]="bonneReponseA" checked (change)="changeReponseA($event)"  />
  </div>
  <div class="form-group  my-4">
    <label for="reponseB"><b>Réponse B:</b></label>
    <input id="reponseB" class="form-control" formControlName="reponseB" />
    <label for="bonneReponseB">Bonne réponse</label>
    <input class="ms-1" id="bonneReponseB" type="radio" name="bonneReponse" [value]="bonneReponseB" (change)="changeReponseB($event)"/>
  </div>
  <div class="form-group  my-4 ">
    <label for="reponseC"><b>Réponse C:</b></label>
    <input id="reponseC" class="form-control" formControlName="reponseC"  />
    <label for="bonneReponseC">Bonne réponse</label>
    <input class="ms-1" id="bonneReponseC" type="radio" name="bonneReponse" [value]="bonneReponseC" (change)="changeReponseC($event)" />
  </div>
  <div class="form-group my-4">
    <label for="reponseD"><b>Réponse D:</b></label>
    <input id="reponseD" class="form-control" formControlName="reponseD" />
    <label for="bonneReponseD">Bonne réponse</label>
    <input class="ms-1" id="bonneReponseD" type="radio" name="bonneReponse" [value]="bonneReponseD" (change)="changeReponseD($event)" />
  </div>
  <div class="form-group mb-5">
    <button
      type="submit"
      class="btn btn-outline-primary btn-lg mt-5"
      [disabled]="form.invalid"
    >
      envoyer
    </button>
  </div>
</form>

<!-- <form (ngSubmit)="submit(form)" #form="ngForm">
  <div class="form-group">
    <label for="selectTheme"
      >Theme
      <select
        [(ngModel)]="selectedTheme"
        class="select-control"
        name="selectTheme"
        required
        #themeCtrl="ngModel"
      >
        <option *ngFor="let t of themes" [ngValue]="t" selected>
          {{ t.nom }}
        </option>
      </select>
    </label>
    <span *ngIf="themeCtrl.dirty && themeCtrl.invalid"> *obligatoire</span>
  </div>
  <div class="form-group">
    <label>Enoncé </label
    ><textarea
      rows="5"
      class="form-control"
      name="inputEnonce"
      [(ngModel)]="question.enonceQuestion"
      required
      #enonceCtrl="ngModel"
    >
    </textarea>
    <span *ngIf="enonceCtrl.dirty && enonceCtrl.invalid"> *obligatoire</span>
  </div>
  <div class="form-group mt-2">
    <label
      >Réponse A<input
        name="inputReponseA"
        class="form-control"
        [(ngModel)]="reponseA.enonceReponse"
        required
        #ReponseACtrl="ngModel"
    /></label>
    <input type="radio" name="bonneReponse" checked />
    <span *ngIf="ReponseACtrl.dirty && ReponseACtrl.invalid">
      *obligatoire</span
    >
  </div>
  <div class="form-group mt-2">
    <label
      >Réponse B<input
        name="inputReponseB"
        class="form-control"
        [(ngModel)]="reponseB.enonceReponse"
        required
        #reponseBCtrl="ngModel"
    /></label>
    <input type="radio" name="bonneReponse" />
    <span *ngIf="reponseBCtrl.dirty && reponseBCtrl.invalid">
      *obligatoire</span
    >
  </div>
  <div class="form-group mt-2">
    <label
      >Réponse C<input
        name="inputReponseC"
        class="form-control"
        [(ngModel)]="reponseC.enonceReponse"
        required
        #reponseCCtrl="ngModel"
    /></label>
    <input type="radio" name="bonneReponse" />
    <span *ngIf="reponseCCtrl.dirty && reponseCCtrl.invalid">
      *obligatoire</span
    >
  </div>
  <div class="form-group mt-2">
    <label
      >Réponse D<input
        name="inputReponseD"
        class="form-control"
        [(ngModel)]="reponseD.enonceReponse"
        required
        #reponseDCtrl="ngModel"
    /></label>
    <input type="radio" name="bonneReponse" />
    <span *ngIf="reponseDCtrl.dirty && reponseDCtrl.invalid">
      *obligatoire</span
    >
  </div>

  <div class="form-group">
    <button
      type="submit"
      class="btn btn-outline-primary btn-lg mt-5"
      [disabled]="form.invalid"
    >
      envoyer
    </button>
  </div>
</form> -->
