<div id="flex-container">
  <div class="text-center">
    <span id="title">QuizzApp ®</span>
  </div>
  <div id="links">
    <p><b>Liens utiles:</b></p>
   <p><a href="https://www.ajc-formation.fr/" target="_blank">Ajc Formation</a></p>
   <p><a href="https://angular.io/docs" target="_blank">Angular Documentation</a></p>
   <p><a routerLink="/home">Conditions Générales</a></p>
  </div>
  <div id="end">
    <p><b>Crédits:</b></p>
    <p>Coraline Cochard</p>
    <p>Name Fiona N'Guessan</p>
    <p>Augustin Bénard</p>
    <p>Pierre Alves</p>
  </div>
</div>
