<div class="row border-bottom mt-4 align-items-center">
  <div class="col-6 text-center">
    <h2>Bienvenue {{ compte.pseudo }}</h2>
  </div>
  <div class="col-6 text-center">
    <img id="avatar" [src]="compte.avatar" alt="Avatar" />
  </div>
</div>
<ng-container *ngIf="!modif">
  <div class="row mt-4">
    <div class="col">
      <p class="fw-bold mt-3 mb-5">Informations du compte:</p>
      <p class="fw-bold text-secondary">
        Pseudo: <span class="fw-normal text-dark">{{ compte.pseudo }}</span>
      </p>
      <p class="fw-bold text-secondary">
        Nom: <span class="fw-normal text-dark">{{ compte.nom }}</span>
      </p>
      <p class="fw-bold text-secondary">
        Prenom: <span class="fw-normal text-dark">{{ compte.prenom }}</span>
      </p>
      <p class="fw-bold text-secondary">
        Mail: <span class="fw-normal text-dark">{{ compte.email }}</span>
      </p>
    </div>
    <div class="col mb-5">
      <p class="fw-bold mt-3 mb-5">Statistiques:</p>
      <p class="fw-bold text-secondary">
        Score maximum:
        <span class="text-dark fw-normal"
          >{{ compte.statistique.scoreMax }}/10</span
        >
      </p>
      <p class="fw-bold text-secondary">
        Score moyen:
        <span class="text-dark fw-normal"
          >{{ compte.statistique.scoreMoyen }}/10</span
        >
      </p>
      <p class="fw-bold text-secondary">
        Temps moyen de réponse:
        <span class="text-dark fw-normal">--</span>
      </p>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="modif">
  <app-modifier-profil
    [compte]="compte"
    (modifBooleanEvent)="traitementModifBoolean($event)"
  ></app-modifier-profil>
</ng-container>

<div *ngIf="!modif" class="text-center mt-5">
  <button class="btn btn-primary" (click)="showModif()">
    Modifier le compte
  </button>
</div>
<div *ngIf="modif" class="text-center mt-5">
  <button class="btn btn-primary" (click)="showModif(); initCompte()">
    ← Retour
  </button>
</div>
<div *ngIf="!warning" class="text-center mt-5" id="principal-container">
  <button class="btn btn-danger" (click)="showWarning()">
    Supprimer le compte
  </button>
</div>
<div *ngIf="warning" class="text-center mt-5">
  <button class="btn btn-danger" (click)="showWarning()">← Retour</button>
</div>
<ng-container *ngIf="warning && !messageSuppression">
  <div class="text-center mt-3" id="principal-container">
    <p class="fw-bold text-danger">
      Êtes vous sur de vouloir supprimer votre compte définitivement ?
    </p>
    <p>
      <button
        class="btn btn-outline-danger mx-2"
        (click)="suppression(compte.id!)"
      >
        Oui</button
      ><button class="btn btn-outline-danger mx-2" (click)="showWarning()">
        Non
      </button>
    </p>
  </div>
</ng-container>

<div *ngIf="messageSuppression" class="text-center mt-5"  id="principal-container">
  <h3 class="fw-bold text-danger">
    Compte supprimé
  </h3>
  <app-spinner></app-spinner>
  <p class="text-secondary">Redirection vers l'accueil...</p>
</div>
