<div class="flex-container">
  <span *ngIf="!admin" id="title" routerLink="/home" routerLinkActive="active"
    >QuizzApp</span
  >
  <span *ngIf="admin" id="title" routerLink="/admin" routerLinkActive="active"
    >QuizzApp</span
  >
  <nav>
    <ng-container *ngIf="!admin">
      <app-lien etiquetteLien="Accueil" lien="/home"></app-lien>
    </ng-container>
    <ng-container *ngIf="admin">
      <app-lien etiquetteLien="Accueil" lien="/admin"></app-lien>
    </ng-container>
    <ng-container *ngIf="admin">
      <app-lien etiquetteLien="Modifier Quizz" lien="/modifQuizz"></app-lien>
    </ng-container>
    <ng-container *ngIf="utilisateur">
      <app-lien etiquetteLien="Profil" lien="/profil"></app-lien>
    </ng-container>
    <ng-container *ngIf="!connecte">
      <ng-container *ngIf="!admin">
        <app-lien etiquetteLien="Jouer" lien="/quizz"></app-lien>
      </ng-container>
      <app-lien etiquetteLien="Inscription" lien="/inscription"></app-lien>
      <app-lien etiquetteLien="Connexion" lien="/connexion"></app-lien>
    </ng-container>
    <app-lien
      *ngIf="connecte"
      id="btn-deco"
      etiquetteLien="Deconnexion"
      (click)="deconnexion()"
    >
      Déconnexion
    </app-lien>
    <!--test apparition Avatar lorsque connecté -->
    <!-- <img *ngIf="utilisateur" id="img" [src]="compte.avatar" alt="img user"/> -->
  </nav>
</div>
