<h2>Prépa quizz</h2>
<div>
	<div>
		<label for="theme"
			>choisissez un theme:
			<select [(ngModel)]="selectedTheme">
				<option *ngFor="let t of themes" [ngValue]="t.id">
					{{ t.nom }}
				</option>
			</select>
		</label>
	</div>
	<div>
		<label for="nbQuestion"
			>Nombre de questions du quizz:
			<input type="radio" value="3" name="nbQuestion" [(ngModel)]="nbQuestionQuizz" /> 3
			<input type="radio" value="5" name="nbQuestion" [(ngModel)]="nbQuestionQuizz" /> 5
			<input type="radio" value="10" name="nbQuestion" [(ngModel)]="nbQuestionQuizz" /> 10
			<input type="radio" value="15" name="nbQuestion" [(ngModel)]="nbQuestionQuizz" /> 15
		</label>
	</div>
	<div>
		<button (click)="sendPrepQuizz()" class="btn btn-outline-primary">
			commencer le quizz
		</button>
	</div>
</div>
