#avatar {
  width:100px;
  height:100px;
  border-radius: 100%;
  margin-bottom:10px;
  cursor:pointer;
}

#avatar_base {
  width:100px;
  height:100px;
  border-radius: 100%;
  margin-bottom:10px;
}
