<div class="text-center rounded py-3 mb-5 container col-8" id="question">
	Question n° {{ numero }}:
	<hr />
	{{ question.enonceQuestion }}
</div>
<div *ngIf="showQuestion" class="text-center">
	<div *ngFor="let rep of question.reponses; let i = index">
		<label for="question{{ i }}">
			<input
				type="radio"
				id="question{{ i }}"
				name="reponse"
				[value]="rep.bonneReponse"
				(change)="getValue($event)"
				class="mb-3 mt-3"
			/>{{ rep.enonceReponse }}
		</label>
	</div>
	<br />
	<button (click)="voirResults()" class="btn btn-primary">Résultat</button>
</div>

<div *ngIf="!showQuestion" class="text-center">
	<ng-container *ngIf="value == 'true'; else mauvaiseReponseBlock">
		<p class="text-success text-center">
			<b>Bravo !</b>
			<br />
			Tu as trouvé la bonne réponse.
		</p>
    <p class="text-success text-center">Vous avez gagné 1 point !</p>
	</ng-container>
	<ng-template #mauvaiseReponseBlock>
		<p class="text-danger text-center">
			<b>Raté !</b>
			<br />
			Vous avez sélectionné la mauvaise réponse, la bonne réponse est :
			<br />
			{{ bonneReponse.enonceReponse }}<br />
		</p>
	</ng-template>
</div>
