<div>
	Question n° {{ numero }}: <br />
	{{ question.enonceQuestion }}
</div>
<div *ngIf="showQuestion">
	<div>
		<label for="reponse" *ngFor="let rep of question.reponses; let i = index">
			<input
				type="radio"
				id="question{{ i }}"
				name="reponse"
				[value]="rep.bonneReponse"
				(change)="getValue($event)"
			/>{{ rep.enonceReponse }}
		</label>
	</div>
	<button (click)="voirResults()" class="btn btn-primary">resultat</button>
</div>

<div *ngIf="!showQuestion">
	<div>resultats question</div>
</div>
