<div>
	<div>
		Question n° {{ numero }}: <br />
		{{ question.enonceQuestion }}
	</div>
	<div>
		<label for="reponse" *ngFor="let rep of question.reponses; let i = index">
			<input
				type="radio"
				id="question{{ i }}"
				name="reponse"
				[value]="rep.bonneReponse"
				(change)="voirResults($event)"
			/>{{ rep.enonceReponse }}
		</label>
	</div>
</div>
<!-- <button (click)="voirResults()" class="btn btn-primary">next</button> -->

<div *ngIf="showResults">
	<p>resultats question</p>
	<div></div>
</div>
